body{
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 0;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
}


a{
    text-decoration: none;
    color:#F9FAF8;
}

/*header*/
.header, .footer{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 50px;
           
}

.logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.landing{
    display: flex;
    background-color: #1F2937;
    padding: 40px 50px;
    height: 300px;
    justify-content: space-between;
}

.landing-left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}
button{
    width: 150px;
    height: auto;
    border-radius: 18px;
    padding: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;

}
.landing-text, .footer-text{
    color:#F9FAF8;
}

.title{  
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.landing-right{
    margin-right: 30px;
}

img{
    border-radius: 10px;
    border: 2px solid #F9FAF8;
    max-height: 250px;
    width: 500px;
}

/*Next part*/

.page-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.page-1-header{
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    margin-bottom: 20px;
}

.card-collection{
    display: flex;
    gap: 60px;
    padding: 10px;
    
}

.card-collection  img{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 15px;
}

.text{
    text-align: center;
    display: flex;
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    
}

.page-2{
    background-color: #e5e7eb;
    display:flex;
    padding: 80px;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
}
.author{
    display: flex;
    justify-content:flex-end;
}