body{
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}


a{
    text-decoration: none;

}


.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px;
    
}

.logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.landing{
    display: flex;
}